APP_NAME="My Application" 
EMBEDDING_MODEL="nomic-embed-text"
LLM_MODEL="llama3" 
CHROMA_PATH="./chroma.db" 
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
OLLAMA_BASE_URL=http://ollama-service:11434
LLM_MODEL=llama3
PROJECT_NAME=RAG-DATASCIENCE-BOT
DEBUG=True